*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

body{
    background-color: Black;
    min-height: 100vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    
    display:flex;
    align-items:center;
    transition: 0.6s;
    z-index: 2;
}


header #toggle{
    
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

.logo{
    color: white;
    text-decoration: none;
}

.sci{
    position:absolute;  
    display:flex;
    flex-direction:column;
    right:3%;
    cursor: pointer;
    bottom: 40%; 
    z-index:100000;
    
}

.sci li{
    list-style: none;
    

}

.sci li a{
    position:relative;
    display:grid;
    place-items:center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    margin: 30px 0 0;
}

.sci li a img{
    max-width: 20px;
    filter:invert(1);
    max-height: 20px;
    top: 30%;
    left: 30%; 
    mix-blend-mode: difference;
}
.sci li a:hover{
    background: transparent;
}

.content{
    position:relative;
    width:100%;
    height: 100vh;
    overflow:hidden;
    justify-content:center;
    align-items:center;
    
}

.content img{
    position:absolute;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}


#bg{
    max-height: 656px;
}

#content_text{
    z-index: 1;
    position: absolute;
    letter-spacing: 2px;
    margin: 12% 0% 0% 33%;
    font-size: 10vh;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: white;
    
} 
#road{
    z-index: 2;
    
    
}

.about{
    min-width: 200px;
}

.about h2{
    color:white;
}
#mountain{
    z-index: 2;
}

#moon{
    width: 30%;
    height: 30%;
    margin: 120px;
    margin-left:70%;
    min-height: 200px;
    min-width: 200px;
}

.about_content{
    display:flex;
    height: 100vh;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-items: center;
    max-width:100%;
    position: relative;
}

.about img{
    max-width:500px;
    width: 30%;
    height:68%;
}

.about_text{
    width: 100%;
    max-width: 800px;
    height: 70%;
    
}
.about_content{

    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about_text h2{
    display:block;
    white-space: nowrap;
    width: 8ch;
    font-size: 50px;
    text-transform: capitalize;
    position:relative;
    top: 1%;
    overflow: hidden;
}


.about_text h5{
    color: #5286a5;
    font-size: 40px;
    
    letter-spacing: 3px;
    text-transform: capitalize;
    position: relative;
    top: 5%;
}

.about_text p{
    color: white;
    line-height: 40px;
    font-size: 25px;
    position: relative;
    top:10%;
    
}
.btn_about{
    color:black;
    background-color:  #204d6a;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 21%;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}

.btn_about:hover{
    transform: scale(1.1);
    border: 2px solid #204d6a;
    background-color:transparent;
    transition: 0.4s;
    color: #204d6a;
    cursor: pointer;


}
@media (max-width: 1080px){
    #content_text{
        font-size: 6vh;
        margin: 20% 0% 0% 25%;
    }
    #moon{
        margin:230px 550px;    
    }
    .about{
        margin: 10px;
    }
    .about img{
        margin-top: 20px;
        height: 40%;
        width: 100%;
        margin-bottom: 10%;
    }
    
}

@media (max-width: 667px){
    #content_text{
        font-size: 6vh;
        left: 5%;
    }
    #moon{
        margin: 180px 150px;   
    }
    
    

    
}


.revealUp{
    opacity: 0;
    visibility: hidden;
}

.portafolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 600px 0 80px;
}
.card{
    width: 300px;
    margin: 10px 100px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    
}
.card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
}
.card:hover .card__image {
    transform: translateY(-10px);
}
.card:hover .card__thumb::after {
    top: 0;
}
.card:hover .card__snippet {
    margin: 20px 0;
}
.card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}
@media (min-width: 1024px) {
    .card__thumb {
        max-height: 500px;
   }
   .portafolio{
       margin:50px;
   }

}
.card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
   
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .card__thumb::after {
        top: calc(100% - 140px);
   }
}
.card__image {
    transition: 0.5s ease-in-out;
    object-fit: fill;
}
.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .card__caption {
        top: calc(100% - 110px);
        transform: unset;
   }
}
.card__title {
    
    max-height: 85px;
    overflow: hidden;
    color:black;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card__snippet {
    color:black;
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
    .card__snippet {
        margin: 110px 0;
   }
}
.card__button {
    display: inline-block;
    padding: 10px 20px;
    color:black;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
.card__button:hover {
    color: black;
    background-color: white;
}
.disclaimer {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
}
